<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.FlyingASea.dao.DataMapper">

    <resultMap id="RoomData" type="io.github.FlyingASea.entity.DataEntity">
        <result column="last_update" jdbcType="TIMESTAMP" property="last_update"/>
        <result column="room" jdbcType="VARCHAR" property="room"/>
        <result column="temperature" jdbcType="INTEGER" property="temperature"/>
        <result column="wind_speed" jdbcType="INTEGER" property="wind_speed"/>
        <result column="is_on" jdbcType="INTEGER" property="is_on"/>
    </resultMap>

    <select id="findDataById" resultType="io.github.FlyingASea.entity.DataEntity">
        select *
        from Data
        where room = #{room}
    </select>


    <insert id="createData">
        insert into Data (last_update, room, temperature, wind_speed, is_on)
        values (#{last_update}, #{room}, #{temperature}, #{wind_speed}, #{is_on})
    </insert>

    <select id="selectDatasFromDate" resultType="io.github.FlyingASea.entity.DataEntity">
        select *
        from Data
        where room = #{room}
          and last_update >= #{begin}
        order by last_update desc
    </select>


</mapper>