<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.FlyingASea.dao.UserMapper">

    <resultMap id="User" type="io.github.FlyingASea.entity.UserEntity">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

    <select id="findUserById" resultType="io.github.FlyingASea.entity.UserEntity">
        select * from users where id = #{id}
    </select>

    <insert id="createUser">
        insert into users (id, name, password)
        values (#{id}, #{name}, #{password})
    </insert>

    <update id="modifyName">
        update users
        set name = #{name}
        where id = #{id}
    </update>

    <update id="modifyPassword">
        update users
        set password = #{password}
        where id = #{id}
    </update>

</mapper>